{% load i18n %}
<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
<ul class="mulitple-choice">
{% for choice in choices %}
    <li{% if choice.selected %} class="selected"{% endif %}>
        {% if choice.reset %}
            <a href="{{ choice.query_string|iriencode }}" title="{{ choice.display }}">{{ choice.display }}</a>
        {% else %}
            <a href="{{ choice.query_string|iriencode }}" title="{{ choice.display }}" style="display:inline">{{ choice.display }}</a>
            {% if choice.exclude_query_string %}
                <a class="small" href="{{ choice.exclude_query_string|iriencode }}" style="display:inline">{% if choice.selected %} ({% trans 'include' %}) {% else %} ({% trans 'exclude' %}) {% endif %}</a>
            {% endif %}
        {% endif %}
    </li>
{% endfor %}
</ul>
