{% load i18n %}
<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
<ul class="mulitple-choice">
{% for choice in choices %}
    <li{% if choice.selected %} class="selected"{% endif %}>
        {% if choice.reset %}
            <a href="{{ choice.query_string|iriencode }}" title="{{ choice.display }}">{{ choice.display }}</a>
        {% else %}
            <a href="{{ choice.query_string|iriencode }}" title="{{ choice.display }}" style="display:inline">{{ choice.display }}</a>
            {% if choice.exclude_query_string %}
                {% if choice.selected %}
                    <a class="small" href="{{ choice.exclude_query_string|iriencode }}" style="display:inline">({% trans 'exclude' %})</a>
                {% else %}
                    <a class="small" href="{{ choice.include_query_string|iriencode }}" style="display:inline">({% trans 'include' %})</a>
                {% endif %}
            {% endif %}
        {% endif %}
    </li>
{% endfor %}
</ul>
